{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
head {
    display: none;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --page-title-display: block;
}
:root {
    --wvs-tick: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 2px rgb(0 0 0 / .8))' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M4 16L11 23 27 7'/%3E%3C/svg%3E);
    --wvs-cross: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 5px rgb(255 255 255 / .6))' xmlns='http://www.w3.org/2000/svg' width='72px' height='72px' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ff0000' stroke-linecap='round' stroke-width='0.6' d='M5 5L19 19M19 5L5 19'/%3E%3C/svg%3E);
    --wvs-single-product-item-width: 30px;
    --wvs-single-product-item-height: 30px;
    --wvs-single-product-item-font-size: 16px;
}
:root {
    --woocommerce: #7F54B3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7F54B3;
    --wc-primary-text: white;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
 media="only screen and (max-width: 768px)" {
    :root {
        --woocommerce: #7F54B3;
        --wc-green: #7ad03a;
        --wc-red: #a00;
        --wc-orange: #ffba00;
        --wc-blue: #2ea2cc;
        --wc-primary: #7F54B3;
        --wc-primary-text: white;
        --wc-secondary: #e9e6ed;
        --wc-secondary-text: #515151;
        --wc-highlight: #b3af54;
        --wc-highligh-text: white;
        --wc-content-bg: #fff;
        --wc-subtext: #767676;
    }
}
:root {
    --woocommerce: #7F54B3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7F54B3;
    --wc-primary-text: white;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
head {
    display: none;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --page-title-display: block;
}
:root {
    --wvs-tick: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 2px rgb(0 0 0 / .8))' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M4 16L11 23 27 7'/%3E%3C/svg%3E);
    --wvs-cross: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 5px rgb(255 255 255 / .6))' xmlns='http://www.w3.org/2000/svg' width='72px' height='72px' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ff0000' stroke-linecap='round' stroke-width='0.6' d='M5 5L19 19M19 5L5 19'/%3E%3C/svg%3E);
    --wvs-single-product-item-width: 30px;
    --wvs-single-product-item-height: 30px;
    --wvs-single-product-item-font-size: 16px;
}
:root {
    --woocommerce: #7F54B3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7F54B3;
    --wc-primary-text: white;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
 media="only screen and (max-width: 768px)" {
    :root {
        --woocommerce: #7F54B3;
        --wc-green: #7ad03a;
        --wc-red: #a00;
        --wc-orange: #ffba00;
        --wc-blue: #2ea2cc;
        --wc-primary: #7F54B3;
        --wc-primary-text: white;
        --wc-secondary: #e9e6ed;
        --wc-secondary-text: #515151;
        --wc-highlight: #b3af54;
        --wc-highligh-text: white;
        --wc-content-bg: #fff;
        --wc-subtext: #767676;
    }
}
:root {
    --woocommerce: #7F54B3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7F54B3;
    --wc-primary-text: white;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 